<%- include('./partials/header.ejs') %>

<h1>Successful Registration!</h1>

<a href="http://localhost:7777/auth/login"><strong>Click to Login Now!</strong></a>

<%- include('./partials/footer.ejs') %>